<StackLayout class="bg-landing-page-yellow pt-20">
    <ScrollView>
        <StackLayout [hidden]="saving">
            <form [formGroup]="reminderForm">
                <Label text="Set reminder everyday at" class="font-mono fields"></Label>
                <StackLayout class="m-2 rounded-full border-solid border-2 border-black">
                    <TimePicker maxHour="23" maxMinute="59" formControlName="time"></TimePicker>
                </StackLayout>
                <Label text="Description" class="font-mono fields"></Label>
                <TextField formControlName="body" class="font-mono fields"></TextField>
            </form>

            <StackLayout orientation="horizontal" (tap)="onSave()" class="rounded-full border-solid border-2 border-black mt-2 w-40 h-11">
                <Image src="~/assets/icons/save.png"  class="w-9 h-9 mr-2 ml-3"></Image>
                <Label text="Save details" verticalAlignment="center" class="font-mono mr-3"></Label>
            </StackLayout>
        </StackLayout>
    </ScrollView>

    <ActivityIndicator [busy]="saving"></ActivityIndicator>
</StackLayout>
