<StackLayout class="bg-landing-page-yellow pt-20">
    <StackLayout width="160" orientation="horizontal" (tap)="onAddReminder()" class="rounded-full border-solid border-2 border-black mt-2 h-11">
        <Image src="~/assets/icons/plus.png"  class="w-9 h-9 mr-2 ml-3"></Image>
        <Label text="Add reminder" verticalAlignment="center" class="font-mono mr-3"></Label>
    </StackLayout>

    <app-reminders-list
        [reminders]="remindersQuery.entities$ | async"
        [loading]="remindersQuery.loading$ | async"
        [error]="remindersQuery.error$ | async"
        (delete)="onDelete($event)"
        (selectReminder)="onSelect($event)"
    ></app-reminders-list>
</StackLayout>
