<StackLayout class="bg-landing-page-yellow pt-2.5 h-screen">
    <FlexboxLayout flexDirection="row" alignItems="center">
        <Image (tap)="onNavigateToMenu()" src="~/assets/icons/menu.png" class="w-9 h-9 ml-3"></Image>
        <FlexboxLayout flexGrow="1" justifyContent="center">
            <Image src="~/assets/images/logo-raisin-purple.png" class="w-10 h-10 mr-12"></Image>
        </FlexboxLayout>
    </FlexboxLayout>

    <ScrollView>
        <StackLayout class="h-full">
            <page-router-outlet actionBarVisibility="never"></page-router-outlet>
        </StackLayout>
    </ScrollView>
</StackLayout>
