<StackLayout class="bg-landing-page-yellow pt-2.5 h-screen">
    <DockLayout stretchLastChild="true">
        <Image (tap)="onNavigateToMenu()" src="~/assets/icons/menu.png" class="w-9 h-9 mr-3"></Image>
        <Image src="~/assets/images/logo-raisin-purple.png" class="w-10 h-10" dock="left"></Image>
    </DockLayout>
    <ScrollView>
        <StackLayout class="h-full">
            <page-router-outlet actionBarVisibility="never"></page-router-outlet>
        </StackLayout>
    </ScrollView>
</StackLayout>
