<StackLayout class="bg-landing-page-yellow pt-20">
    <ScrollView class="mx-10">
        <StackLayout [hidden]="saving">
            <StackLayout orientation="horizontal" (tap)="onCreateAvatar()" class="rounded-full border-solid border-2 border-black mt-2 w-44 h-11">
                <Image src="~/assets/icons/camera.png"  class="w-9 h-9 mr-2 ml-3"></Image>
                <Label text="Create avatar" verticalAlignment="center" class="font-mono mr-3"></Label>
            </StackLayout>

            <Image [hidden]="!avatarInBase64" [src]="avatarInBase64" class="w-40 h-40"></Image>

            <form [formGroup]="petForm">
                <Label text="Name" class="font-mono fields"></Label>
                <TextField formControlName="name" class="font-mono fields"></TextField>
                <Label [hidden]="!petForm.touched || petForm.controls.name.errors == null" text="Name is required" class="font-mono text-center text-red-800"></Label>
                <Label text="Date of birth (approx.)" class="font-mono fields"></Label>
                <StackLayout class="m-2 rounded-full border-solid border-2 border-black">
                    <DatePicker class="w-32" formControlName="dateOfBirth"></DatePicker>
                </StackLayout>
            </form>
            <Label text="Species" class="font-mono fields"></Label>
            <StackLayout class="m-2 rounded-full border-solid border-2 border-black">
                <DropDown
                        [(ngModel)]="selectedSpeciesIndex"
                        [items]="species"
                        (selectedIndexChanged)="onSpeciesChange($event)"
                        class="font-mono fields m-2"
                >
                </DropDown>
            </StackLayout>
            <Label text="Size" class="font-mono fields"></Label>
            <StackLayout class="m-2 rounded-full border-solid border-2 border-black">
                <DropDown
                        [(ngModel)]="selectedSizeIndex"
                        [items]="sizes"
                        (selectedIndexChanged)="onSizeChange($event)"
                        class="font-mono fields m-2"
                >
                </DropDown>
            </StackLayout>

            <StackLayout orientation="horizontal" (tap)="onSave()" class="rounded-full border-solid border-2 border-black mt-2 w-40 h-11">
                <Image src="~/assets/icons/save.png"  class="w-9 h-9 mr-2 ml-3"></Image>
                <Label text="Save details" verticalAlignment="center" class="font-mono mr-3"></Label>
            </StackLayout>
        </StackLayout>
    </ScrollView>

    <ActivityIndicator [busy]="saving"></ActivityIndicator>
</StackLayout>
