<StackLayout class="bg-landing-page-yellow pt-20">
    <StackLayout orientation="horizontal" (tap)="onAddExercise()" class="rounded-full border-solid border-2 border-black mt-2 w-3/5 h-11">
        <Image src="~/assets/icons/plus.png"  class="w-9 h-9 mr-2 ml-3"></Image>
        <Label text="Add exercise session" verticalAlignment="center" class="font-mono mr-3"></Label>
    </StackLayout>
    <Image (tap)="onRefreshList()" src="https://img.icons8.com/dusk/64/replay.png" class="w-9 h-9 my-4"></Image>

    <app-exercises-list
        [exercises]="exercisesQuery.entities$ | async"
        [loading]="exercisesQuery.loading$ | async"
        [loaded]="exercisesQuery.loaded$ | async"
        [error]="exercisesQuery.error$ | async"
        (selectExercise)="onSelectExercise($event)"
        (delete)="onDelete($event)"
    ></app-exercises-list>
</StackLayout>
