<StackLayout>
    <Label [hidden]="loading || !loaded || error || exercises?.length !== 0" textWrap="true" text="No exercises yet." class="font-mono text-2xl text-center p-5"></Label>
    <Label [hidden]="loading || !error" textWrap="true" text="Error! Try again." class="font-mono text-2xl text-center p-5"></Label>
    <ListView [hidden]="loading || !loaded || error" [items]="exercises" class="h-full">
        <ng-template let-item="item">
            <DockLayout stretchLastChild="true">
                <StackLayout orientation="horizontal" (tap)="onSelectExercise(item.id)" class="w-72">
                    <Label>
                        <FormattedString>
                            <Span [text]="'#' + item.id" class="font-mono text-2xl"></Span>
                        </FormattedString>
                    </Label>
                    <Label>
                        <FormattedString>
                            <Span [text]="item.name" class="font-mono"></Span>
                        </FormattedString>
                    </Label>
                </StackLayout>
                <Image id="menuButton" (tap)="onActionsTap(item.id)" src="~/assets/icons/context-menu.png" class="w-9 h-9" dock="right"></Image>
            </DockLayout>
        </ng-template>
    </ListView>

    <ActivityIndicator [busy]="loading && !error"></ActivityIndicator>
</StackLayout>
