<StackLayout class="bg-landing-page-yellow pt-20">
    <FlexboxLayout justifyContent="space-between" orientation="horizontal" (tap)="onGoToTutorials()" class="rounded-full border-solid border-2 border-black mt-2 h-11">
        <Image src="~/assets/icons/tutorial.png"  class="w-9 h-9 mr-2 ml-3"></Image>
        <Label text="Tutorials" verticalAlignment="center" class="font-mono text-2xl"></Label>
        <Label class="w-9"></Label>
    </FlexboxLayout>

    <FlexboxLayout justifyContent="space-between"  orientation="horizontal" (tap)="onGoToExerciseTracking()" class="rounded-full border-solid border-2 border-black mt-2 h-11">
        <Image src="~/assets/icons/track.png"  class="w-9 h-9 mr-2 ml-3"></Image>
        <Label text="Exercise tracking" verticalAlignment="center" class="font-mono text-2xl"></Label>
        <Label class="w-9"></Label>
    </FlexboxLayout>

    <FlexboxLayout justifyContent="space-between"  orientation="horizontal" (tap)="onGoToReminders()" class="rounded-full border-solid border-2 border-black mt-2 h-11">
        <Image src="~/assets/icons/alarm.png"  class="w-9 h-9 mr-2 ml-3"></Image>
        <Label text="Food reminders" verticalAlignment="center" class="font-mono text-2xl"></Label>
        <Label class="w-9"></Label>
    </FlexboxLayout>
</StackLayout>
