<StackLayout class="bg-landing-page-yellow pt-20">
    <StackLayout orientation="horizontal" (tap)="onAddPet()" class="rounded-full border-solid border-2 border-black mt-2 w-3/6 h-11">
        <Image src="~/assets/icons/plus.png"  class="w-9 h-9 mr-2 ml-3"></Image>
        <Label text="Add furry friend" verticalAlignment="center" class="font-mono mr-3"></Label>
    </StackLayout>

    <app-pets-list
        [pets]="petsQuery.entities$ | async"
        [loading]="petsQuery.loading$ | async"
        [error]="petsQuery.error$ | async"
        (editDetails)="onEditDetails($event)"
        (delete)="onDelete($event)"
        (selectPet)="onSelectPet($event)"
    ></app-pets-list>
</StackLayout>
