<StackLayout>
    <Label [hidden]="loading || error || reminders?.length !== 0" text="No reminders to display." class="font-mono fields p-5"></Label>
    <ListView [hidden]="loading || error" [items]="reminders" class="h-full">
        <ng-template let-item="item">
            <DockLayout stretchLastChild="true">
                <StackLayout orientation="horizontal" (tap)="onSelectExercise(item.id)" class="w-72">
                    <Label>
                        <FormattedString>
                            <Span [text]="(item.hours | number:'2.0') + ':' + (item.minutes | number:'2.0')" class="font-mono text-2xl"></Span>
                        </FormattedString>
                    </Label>
                    <Label>
                        <FormattedString>
                            <Span [text]="item.body" class="font-mono"></Span>
                        </FormattedString>
                    </Label>
                </StackLayout>
                <Image id="menuButton" (tap)="onActionsTap(item.id)" src="~/assets/icons/context-menu.png" class="w-9 h-9" dock="right"></Image>
            </DockLayout>
        </ng-template>
    </ListView>

    <ActivityIndicator [busy]="loading && !error"></ActivityIndicator>
</StackLayout>
