<StackLayout class="bg-landing-page-yellow pt-20">
    <StackLayout [hidden]="loading" class="p-3">
        <Label textWrap="true" [text]="'#' + exercise.id + ' ' + exercise.name" horizontalAlignment="center" class="font-mono text-3xl mr-3"></Label>
        <Label textWrap="true" [text]="'Total distance: ' + (exercise.totalDistance | number) + 'km'" horizontalAlignment="center" class="font-mono text-xl mr-3"></Label>
        <Label textWrap="true" [text]="'Average speed: ' + (exercise.averageSpeed | number) + 'km/h'" horizontalAlignment="center" class="font-mono text-xl mr-3"></Label>

        <MapView [width]="mapDimensions.width" [height]="mapDimensions.height" (ready)="onMapReady($event)"></MapView>
    </StackLayout>

    <ActivityIndicator [busy]="loading"></ActivityIndicator>
</StackLayout>
